html
    head
        title ASCII CONVERTER
        link(href='http://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
        script(src='/bundle.js', defer='defer')
    body
        div(id="root")